body {
    margin: 0;
    position: relative;
    background: #070F2B; /* Cor de fundo original */
    font: normal 15pt Arial;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Hacamwllppr.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
    filter: blur(10px); /* Ajuste o valor do desfoque conforme necessário */
    opacity: 0.2; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Certifique-se de que a imagem de fundo esteja atrás do conteúdo */
}
header {
    color: white;
    background-color: #1b1a5581;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    animation-name: saga;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.typing-container {
    text-align: center;
}

#typed-text {
    font-size: 24px;
    font-family: monospace;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(24, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}


@keyframes saga {
    0% {
        color: #9290C3;
        text-shadow: 1px 1px #ff008491;
    }
    50% {
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px #1900ff91;
    }
    100% {
        color: #9290C3;
        text-shadow: 1px 1px #ff008491;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.btn.btn-outline-primary {
    /* Suas regras de estilo aqui */
    color: #9290C3;
    border: 1px solid #9290C3;
    appearance: none;
   
    font-family: "Orbitron", sans-serif;
  }

.button-container button:hover {
    background-color: #9290c344;
    transform: translateY(-3px);
}

.button-container button:active {
    box-shadow: none;
    transform: translateY(0);
    background-color: #1B1A55;
}

.content {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #9290C3;
    display: none;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 1%;
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.maintitle {
    text-decoration: underline;
    text-decoration-style: solid;
    animation: underlineAnimation 3s infinite alternate;
}

@keyframes underlineAnimation {
    0% {
        text-decoration-color: #9290C3;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.1em;
    }
    50% {
        text-decoration-color: #535C91; /* Tomate */
        text-decoration-thickness: 2.5px; /* Menor variação na espessura */
        text-underline-offset: 0.15em; /* Menor variação no deslocamento */
    }
    100% {
        text-decoration-color: #9290C3; /* Light Sea Green */
        text-decoration-thickness: 2px;
        text-underline-offset: 0.1em;
    }
}
.carousel-inner img {
max-width: 20%;
}


.col{
text-align: center;
justify-content: center;
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(7,15,43,1) 50%, rgba(255,255,255,0) 100%);
color: #ffffff;
font-family: "Changa", sans-serif;
}
.carousel-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    max-height: 400px;
    font-family: "Changa", sans-serif;
    
}

.projects-carousel {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 10px;
    transition: transform 0.5s ease;
    will-change: transform;
    font-family: "Changa", sans-serif;
    
}

.project-card img {
    max-width: 100px;
    margin-right: 10px;
}
.project-card {
    display: flex;
    min-width: auto;
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #535c9145;
    color: white;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
.project-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionar uma sombra ao cartão */
    background-color: #9290c371;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.up {
    position: absolute;
    top: 0;
}

.carousel-button.down {
    position: absolute;
    bottom: 0;
}
.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.carousel-item {
    text-align: center;
}
.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-control-next{
    width: 70%;
}

.carousel-control-prev{
    width: 70%;
}

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #1B1A55 #9290c3;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #9290c3;
}

*::-webkit-scrollbar-thumb {
    background-color: #1B1A55;
    border-radius: 10px;
    border: 3px inset #ffffff;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    padding: 10px;
    background-color: #1b1a5566;
}
